{% extends "../layout/home.njk" %} {% block body %}
<div class="mx-5 mt-5 mx-auto w-50">
    <h5>Name</h5>
    <p>{{todo.name}}</p>
    <h5>Trạng thái</h5>
    <p>{{todo.status}}</p>
</div>
{% endblock %}