{% extends "../layout/home.njk" %} {% block body %}
<div class="">
    <a href="todos/create" class="btn btn-primary">Add</a>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for todo in todoList %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="/todos/{{todo.id}}">{{todo.name}}</a></td>
            <td>{{todo.status}}</td>
            <td>
                <a href="/todos/{{todo.id}}/edit" class="btn btn-primary">Update</a>
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-id="{{todo._id}}">Delete</button>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btn-delete">Yes</a>
      </div>
    </div>
  </div>
</div>
<form name="form-delete" method="POST"></form>
{% endblock %}
{% block script %}
  var todoId
  var btnDelete = document.getElementById('btn-delete')
  var formDelete = document.forms['form-delete']
  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  todoId = button.data('id')
  
  })
  btnDelete.onclick = function () {
    formDelete.action = '/todos/' +todoId + '?_method=DELETE'
    formDelete.submit()
    console.log(formDelete)
  }
{% endblock %}
